.container {
    max-width: 1140px;
    margin: auto;
}
.table_cont_heading{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6900ff;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 1.1rem 1.1rem;
    font-weight: 700;
}

/* .coin-name {
    margin-left: -4rem;
} */

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

/* loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* search-field */
  .search-field{
    width: 90%;
    padding: 0.8rem;
    background: darkgray;
    height: 3rem;
    margin: 0 0 1rem 3rem;
  }