.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
    border-bottom: 4px solid #505050;

    
}
.navbar-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 2rem;
    color: #6900ff;
    cursor: pointer;
}
.purple{
    color: #6900ff;
}
.select-currency{
    width: 76px;
    height: 37px;
    padding: 7px;
    font-size: 15px;
    background-color: #505050;
    color: white;
    border: 1px solid white;
}
.select-currency option{
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 48px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 6px;
    white-space: nowrap;
    letter-spacing: 0.00938em;
    padding-bottom: 6px;
}
.navbar-currency{
    display: flex;
    gap: 77px;
    align-items: center;
}
.navbar-signup{
    display: flex;
    gap: 12px;
}
.alert_show{
    width: 50%;
    cursor: pointer;
    margin: 0 auto;
    z-index: 9999999;
    text-align: center;
}